<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Panel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">Admin Panel</a>
    </div>
    <ul class="nav navbar-nav">

      <li><a href="/customer">Home</a></li>


      <li class="active"><a href="/admin">Admin Home</a></li>

       <li><a href="/admin/category">Category Panel</a></li>

       <li><a href="/admin/product">Product Panel</a></li>

       <li><a href="/admin/order">Order Panel</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
    </ul>
  </div>
</nav>
  
<div class="container-fluid">
<h2 align="center" class="text-danger">Welcome To Admin Panel</h2>

<p align="center" class="text-success"><b>Most Active User:</b><span class="text-primary"> <%= user.customer %></span></p>
<p align="center" class="text-success"><b>Most Selling Product:</b><span class="text-primary"> <%= product.name %></span></p>
<p align="center" class="text-success"><b>Total Sold Products:</b><span class="text-primary"> <%= productt %></span></p>
<p align="center" class="text-success"><b>Total Amount:</b><span class="text-primary"> <%= amounts %>Tk</span></p>

</div>

</body>
</html>
